@model WebApplication156456.Models.RegisterViewModel

@{
    ViewBag.Title = "cursos";
}

<html>
<head>
    <title>Lista de cursos</title>
    <link href="~/css/Cursos.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br /><br />
    <h1>Lista de cursos disponibles</h1>
    <br />
    <div>
        <select name="filters" id="filters" , class="browser-default custom-select">
            <option id="filter" value="filtrar" selected=""> Filtrar por</option>
            <option value="area">Área</option>
            <option value="nombre">Nombre</option>
            <option value="sigla">Sigla</option>
        </select>

        <input type="text" id="searchText" name="searchText" placeholder="Buscar" />
    </div>
    <br />
    <div class="tableFixHead">
        <center>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Sigla</th>
                        <th>Nombre</th>
                        <th>Detalles</th>
                        <th>Área</th>
                        <th>Ver tutorías</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var curso in ViewBag.cursos)
                    {
                        <tr>
                            <td id="sigla">@curso.id</td>
                            <td id="nombre">@curso.nombre</td>
                            <td id="detalles">@curso.detalles</td>
                            <td id="area">@curso.area_especialidad</td>
                            <td><a href="@Url.Action("Index","Tutoria", new { courseID = curso.id, courseName = curso.nombre})"><i class="fas fa-chalkboard-teacher"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </center>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--Script para recuperar valor de dropdownlist-->
    <script type="text/javascript">
            @*$('#filters').change(function () {
                var value = $(this).val();

                if (value != "Filtrar")
                {
                     $.ajax({
                     url: "@Url.Action("search")",
                     method: "POST",
                     data: { selectedValue: value },
                     dataType: "text",
                     async: true
                     });
                }
            });*@

            var value="";

            $('#filters').change(function () {
                value = $(this).val();
            });

            $('#searchText').on("keyup", function () {
                var textEntered = $(this).val();
                $("table tr").each(function (cursos) {
                    if (cursos !== 0)
                    {
                        if (value != "" && value != "filtrar") {
                            var id = $(this).find("#" + value).text();
                            if (id.indexOf(textEntered) < 0 && id.toLowerCase().indexOf(textEntered.toLowerCase()) < 0) {
                                $(this).hide();
                            }
                            else {
                                $(this).show();
                            }
                        }
                        else
                        {
                            var id = $(this).find("#nombre").text();
                            if (id.indexOf(textEntered) < 0 && id.toLowerCase().indexOf(textEntered.toLowerCase()) < 0) {
                                $(this).hide();
                            }
                            else {
                                $(this).show();
                            }
                        }
                    }
                })
            });
    </script>
</body>
</html>


