@{
    ViewBag.Title = "DHTMLX Scheduler .NET";
}

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Horario</title>
        <link href="~/css/Horario.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Agendar tutoría </h1>
        <br />
        <h3>Disponibilidad de @ViewBag.tutoria.tutor_nombre @ViewBag.tutoria.tutor_apellidos</h3>
        <hr />
        <h4> Seleccione el horario de la sesión.</h4>
        <li>En amarillo se muestra el día actual.</li>
        <li>La disponibilidad del tutor se muestra en verde.</li>
        <li>Si selecciona una sesion fuera del horario del tutor la sesión será automáticamente rechazada.</li>
        <hr />
        <style>
            .green_section {
                background-color: #77ff77;
                opacity: 0.4;
            }

            .gray_section {
                background-color: red;
                opacity: 0.3;
            }
        </style>
        <div class="scheduler_container">
            @Html.Raw(Model.Render())
        </div>
        <br />
        <br />
        <a href="@Url.Action("Index","Tutoria",new { courseID = ViewBag.courseID, courseName = ViewBag.courseName})" " class=" btn btn-primary">Agendar sesión</a>
        <a href="@Url.Action("Index","Tutoria",new { courseID = ViewBag.courseID, courseName = ViewBag.courseName})" " class=" btn btn-primary">Regresar</a>
    </body>
   
</html>
