@model WebApplication156456.Models.MenuTutorModel
@{
    ViewBag.Title = "MenuTutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<style>
    .customHeader {
        text-align: left;
        font-weight: bold
    }

</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administrar Sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.10/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <br /><br /><br />
    <div class="container-fluid overflow-hidden tab-content-space-t-4" style="text-align:left;">
        <div id="id_administerSessionRequest_details">
            <div>
                <h3 class="customHeader">Administrar Sesión</h3>
                <br />
            </div>

            @if (ViewBag.currentSession.estado_sesion == "Finalizada" || ViewBag.currentSession.estado_sesion == "Cancelada") {
                <div class="row list-group-item">
                    <div class="col-md-6">
                        <div>
                            <h4><b>Sigla Curso:</b> @ViewBag.currentSession.curso_id</h4>
                            <h4><b>Nombre Curso:</b> @ViewBag.currentSessionCourse</h4>
                            <br />
                            <h5><b>Modalidad Deseada: </b>@ViewBag.currentSession.modalidad</h5>
                            <br />
                            <h5><b>Fecha Inicio: </b>@ViewBag.currentSession.fecha_inicio</h5>
                            <h5><b>Fecha Finalización: </b>@ViewBag.currentSession.fecha_fin</h5>
                            <br />

                            @if (ViewBag.currentSession.modalidad == "Virtual") {
                                <label for="id_administerSessionRequest_fields_sessionLink">Enlace Sesión</label>
                                <br />
                                <textarea id="id_administerSessionRequest_fields_sessionLink" name="sessionAdress" style="resize:none; color:deepskyblue" cols="120" rows="1" readonly>@ViewBag.currentSession.enlace</textarea>
                                <br />
                                <br />
                            } else {
                                <label for="id_administerSessionRequest_fields_sessionLink">Dirección Sesión</label>
                                <br />
                                <textarea id="id_administerSessionRequest_fields_sessionLink" name="sessionAdress" style="resize:none" cols="120" rows="1" readonly>@ViewBag.currentSession.direccion</textarea>
                                <br />
                                <br />
                            }

                            @if (ViewBag.currentSession.estado_sesion == "Finalizada") {
                                <label>Estado: <span style="color:greenyellow">@ViewBag.currentSession.estado_sesion</span></label>
                                <br />
                                <br />
                            } else {
                                <label>Estado: <span style="color:red">@ViewBag.currentSession.estado_sesion</span></label>
                                <br />
                                <br />
                            }

                            @if (ViewBag.currentSession.evaluacion_sesion == 0) {
                                <label>Calificación: <span style="color:orange">Sin Calificar</span></label>
                            } else {
                                <label>Calificación: <span style="color:green">@ViewBag.currentSession.evaluacion_sesion</span></label>
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4><b>Asistentes: @ViewBag.currentSession.lista_asistentes.Count</b></h4>

                        @for (int index = 0; index < ViewBag.currentSession.lista_asistentes.Count; index++) {
                            <p>@(index+1) - @ViewBag.currentSession.lista_asistentes[index].nombre_estudiante @ViewBag.currentSession.lista_asistentes[index].apellido_estudiante </p>
                        }
                    </div>
                </div>
            } else if (ViewBag.currentSession.estado_sesion == "Esperando Respuesta") {
                if (ViewBag.currentSession.modalidad == "Virtual") {
                    <div class="row list-group-item">
                        <div class="col-md-6">
                            <form id="id_administerSessionRequest_fields" action="/MenuTutor/SubmitSessionResponse" method="post">
                                <h4><b>Sigla Curso:</b> @ViewBag.currentSession.curso_id</h4>
                                <h4><b>Nombre Curso:</b> @ViewBag.currentSessionCourse</h4>
                                <br />
                                <h5><b>Modalidad Deseada: </b>@ViewBag.currentSession.modalidad</h5>
                                <br />
                                <h5><b>Fecha Inicio: </b>@ViewBag.currentSession.fecha_inicio</h5>
                                <h5><b>Fecha Finalización: </b>@ViewBag.currentSession.fecha_fin</h5>
                                <br />

                                <label for="id_administerSessionRequest_fields_sessionLink">Enlace Sesión</label>
                                <br />
                                <textarea id="id_administerSessionRequest_fields_sessionLink" name="sessionAdress" style="resize:none;color:deepskyblue" cols="120" rows="1" required>@ViewBag.currentSession.enlace</textarea>
                                <br />
                                <br />

                                <label for="id_administerSessionRequest_fields_sessionResponse">Respuesta A Solicitud</label>
                                <br />
                                <select id="id_administerSessionRequest_fields_sessionResponse" name="sessionResponse">
                                    <option value="Pendiente">Aceptar Solicitud</option>
                                    <option value="Cancelada">Cancelar Solicitud</option>
                                </select>
                                <br />
                                <br />
                                <input type="text" id="id_administerSessionRequest_fields_operation" name="responseOperation" value="VirtualNew" hidden />
                                <input type="number" id="id_administerSessionRequest_fields_sessionID" name="currentSessionID" value="@ViewBag.currentSession.id" hidden />

                                <div id="cancel_reason" style="display:none">
                                    <label for="id_administerSessionRequest_fields_reason">Motivo Cancelación</label>
                                    <br />
                                    <textarea id="id_administerSessionRequest_fields_reason" name="cancelReason" style="resize:none; color:orangered" cols="120" rows="1"></textarea>
                                    <br />
                                </div>

                                <br />

                                <input id="id_administerSessionRequest_fields_submit" name="sessionRequestSubmit" class="btn btn-primary btn-lg" type="submit" value="Aceptar Respuesta &raquo" />

                            </form>
                        </div>
                        <div class="col-md-6">
                            <h4><b>Asistentes: @ViewBag.currentSession.lista_asistentes.Count</b></h4>

                            @for (int index = 0; index < ViewBag.currentSession.lista_asistentes.Count; index++) {
                                <p>@(index+1) - @ViewBag.currentSession.lista_asistentes[index].nombre_estudiante @ViewBag.currentSession.lista_asistentes[index].apellido_estudiante </p>
                            }
                        </div>
                    </div>
                } else {
                    <div class="row list-group-item">
                        <div class="col-md-6">
                            <form id="id_administerSessionRequest_fields" action="/MenuTutor/SubmitSessionResponse" method="post">
                                <h4><b>Sigla Curso:</b> @ViewBag.currentSession.curso_id</h4>
                                <h4><b>Nombre Curso:</b> @ViewBag.currentSessionCourse</h4>
                                <br />
                                <h5><b>Modalidad Deseada: </b>@ViewBag.currentSession.modalidad</h5>
                                <br />
                                <h5><b>Fecha Inicio: </b>@ViewBag.currentSession.fecha_inicio</h5>
                                <h5><b>Fecha Finalización: </b>@ViewBag.currentSession.fecha_fin</h5>
                                <br />

                                <label for="id_administerSessionRequest_fields_sessionLink">Dirección Sesión</label>
                                <br />
                                <textarea id="id_administerSessionRequest_fields_sessionLink" name="sessionAdress" style="resize:none" cols="120" rows="1" readonly>@ViewBag.currentSession.direccion</textarea>
                                <br />
                                <br />

                                <label for="id_administerSessionRequest_fields_sessionResponse">Respuesta A Solicitud</label>
                                <br />
                                <select id="id_administerSessionRequest_fields_sessionResponse" name="sessionResponse">
                                    <option value="Pendiente">Aceptar Solicitud</option>
                                    <option value="Cancelada">Cancelar Solicitud</option>
                                </select>
                                <br />
                                <br />
                                <input type="text" id="id_administerSessionRequest_fields_operation" name="responseOperation" value="NonVirtualNew" hidden />
                                <input type="number" id="id_administerSessionRequest_fields_sessionID" name="currentSessionID" value="@ViewBag.currentSession.id" hidden />

                                <div id="cancel_reason" style="display:none">
                                    <label for="id_administerSessionRequest_fields_reason">Motivo Cancelación</label>
                                    <br />
                                    <textarea id="id_administerSessionRequest_fields_reason" name="cancelReason" style="resize:none; color:orangered" cols="120" rows="1"></textarea>
                                    <br />
                                </div>

                                <br />

                                <input id="id_administerSessionRequest_fields_submit" name="sessionRequestSubmit" class="btn btn-primary btn-lg" type="submit" value="Aceptar Respuesta &raquo" />

                            </form>
                        </div>
                        <div class="col-md-6">
                            <h4><b>Asistentes: @ViewBag.currentSession.lista_asistentes.Count</b></h4>

                            @for (int index = 0; index < ViewBag.currentSession.lista_asistentes.Count; index++) {
                                <p>@(index+1) - @ViewBag.currentSession.lista_asistentes[index].nombre_estudiante @ViewBag.currentSession.lista_asistentes[index].apellido_estudiante </p>
                            }
                        </div>
                    </div>
                }
            } else {
                if (ViewBag.currentSession.modalidad == "Virtual") {
                    <div class="row list-group-item">
                        <div class="col-md-6">
                            <form id="id_administerSessionRequest_fields" action="/MenuTutor/SubmitSessionResponse" method="post">
                                <h4><b>Sigla Curso:</b> @ViewBag.currentSession.curso_id</h4>
                                <h4><b>Nombre Curso:</b> @ViewBag.currentSessionCourse</h4>
                                <br />
                                <h5><b>Modalidad Deseada: </b>@ViewBag.currentSession.modalidad</h5>
                                <br />
                                <h5><b>Fecha Inicio: </b>@ViewBag.currentSession.fecha_inicio</h5>
                                <h5><b>Fecha Finalización: </b>@ViewBag.currentSession.fecha_fin</h5>
                                <br />

                                <label for="id_administerSessionRequest_fields_sessionLink">Enlace Sesión</label>
                                <br />
                                <textarea id="id_administerSessionRequest_fields_sessionLink" name="sessionAdress" style="resize:none; color:deepskyblue" cols="120" rows="1" required>@ViewBag.currentSession.enlace</textarea>
                                <br />
                                <br />

                                <label for="id_administerSessionRequest_fields_sessionResponse">Respuesta A Solicitud</label>
                                <br />
                                <select id="id_administerSessionRequest_fields_sessionResponse" name="sessionResponse">
                                    <option value="Finalizada">Dar Por Finalizada</option>
                                    <option value="Cancelada">Cancelar Solicitud</option>
                                </select>
                                <br />
                                <br />
                                <input type="text" id="id_administerSessionRequest_fields_operation" name="responseOperation" value="VirtualPending" hidden />
                                <input type="number" id="id_administerSessionRequest_fields_sessionID" name="currentSessionID" value="@ViewBag.currentSession.id" hidden />

                                <div id="cancel_reason" style="display:none">
                                    <label for="id_administerSessionRequest_fields_reason">Motivo Cancelación</label>
                                    <br />
                                    <textarea id="id_administerSessionRequest_fields_reason" name="cancelReason" style="resize:none; color:orangered" cols="120" rows="1"></textarea>
                                    <br />
                                </div>

                                <br />

                                <input id="id_administerSessionRequest_fields_submit" name="sessionRequestSubmit" class="btn btn-primary btn-lg" type="submit" value="Aceptar Respuesta &raquo" />

                            </form>
                        </div>
                        <div class="col-md-6">
                            <h4><b>Asistentes: @ViewBag.currentSession.lista_asistentes.Count</b></h4>

                            @for (int index = 0; index < ViewBag.currentSession.lista_asistentes.Count; index++) {
                                <p>@(index+1) - @ViewBag.currentSession.lista_asistentes[index].nombre_estudiante @ViewBag.currentSession.lista_asistentes[index].apellido_estudiante </p>
                            }
                        </div>
                    </div>
                } else {
                    <div class="row list-group-item">
                        <div class="col-md-6">
                            <form id="id_administerSessionRequest_fields" action="/MenuTutor/SubmitSessionResponse" method="post">
                                <h4><b>Sigla Curso:</b> @ViewBag.currentSession.curso_id</h4>
                                <h4><b>Nombre Curso:</b> @ViewBag.currentSessionCourse</h4>
                                <br />
                                <h5><b>Modalidad Deseada: </b>@ViewBag.currentSession.modalidad</h5>
                                <br />
                                <h5><b>Fecha Inicio: </b>@ViewBag.currentSession.fecha_inicio</h5>
                                <h5><b>Fecha Finalización: </b>@ViewBag.currentSession.fecha_fin</h5>
                                <br />

                                <label for="id_administerSessionRequest_fields_sessionLink">Dirección Sesión</label>
                                <br />
                                <textarea id="id_administerSessionRequest_fields_sessionLink" name="sessionAdress" style="resize:none" cols="120" rows="1" readonly>@ViewBag.currentSession.direccion</textarea>
                                <br />
                                <br />

                                <label for="id_administerSessionRequest_fields_sessionResponse">Respuesta A Solicitud</label>
                                <br />
                                <select id="id_administerSessionRequest_fields_sessionResponse" name="sessionResponse">
                                    <option value="Finalizada">Dar Por Finalizada</option>
                                    <option value="Cancelada">Cancelar Solicitud</option>
                                </select>
                                <br />
                                <br />
                                <input type="text" id="id_administerSessionRequest_fields_operation" name="responseOperation" value="NonVirtualPending" hidden />
                                <input type="number" id="id_administerSessionRequest_fields_sessionID" name="currentSessionID" value="@ViewBag.currentSession.id" hidden />

                                <div id="cancel_reason" style="display:none">
                                    <label for="id_administerSessionRequest_fields_reason">Motivo Cancelación</label>
                                    <br />
                                    <textarea id="id_administerSessionRequest_fields_reason" name="cancelReason" style="resize:none; color:orangered" cols="120" rows="1"></textarea>
                                    <br />
                                </div>

                                <br />

                                <input id="id_administerSessionRequest_fields_submit" name="sessionRequestSubmit" class="btn btn-primary btn-lg" type="submit" value="Aceptar Respuesta &raquo" />

                            </form>
                        </div>
                        <div class="col-md-6">
                            <h4><b>Asistentes: @ViewBag.currentSession.lista_asistentes.Count</b></h4>

                            @for (int index = 0; index < ViewBag.currentSession.lista_asistentes.Count; index++) {
                                <p>@(index+1) - @ViewBag.currentSession.lista_asistentes[index].nombre_estudiante @ViewBag.currentSession.lista_asistentes[index].apellido_estudiante </p>
                            }
                        </div>
                    </div>
                }
            }

            <br />
            <a href="@Url.Action("ViewSessions", "MenuTutor")" class=" btn btn-primary btn-lg">Regresar</a>
            <br />
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#id_administerSessionRequest_fields_submit").addEventListener("click", function (e) {
            e.preventDefault();
            Swal.fire({
                title: "¿Está seguro/a que desea guardar ajustes de sesión?",
                showCancelButton: true,
                confirmButtonText: "Confirmar",
                confirmButtonColor: "#1680CB",
                cancelButtonText: "Cancelar",
                cancelButtonColor: "#7D8992"
            }).then(function (result) {
                if (result.value) {
                    $("#id_administerSessionRequest_fields").submit();
                    Swal.fire("Guardado!", "La información de sesión se ha guardado exitosamente", "success");
                } else {
                    Swal.fire("Cancelado!", "La información de sesión no se ha guardado", "warning");
                }
            });
        });
    </script>

    <script type="text/javascript" src="jquery-ui-1.10.0/tests/jquery-1.9.0.js"></script>
    <script src="jquery-ui-1.10.0/ui/jquery-ui.js"></script>
    <script>
        $('#id_administerSessionRequest_fields_sessionResponse').on('change', function () {
            if ($(this).val() === "Cancelada") {
                $("#cancel_reason").show()
            }
            else {
                $("#cancel_reason").hide()
            }
        });
    </script>
</body>


</html>
