@model WebApplication156456.Models.MenuTutorModel
@{
    ViewBag.Title = "Select Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<style>
    .customHeader {
        text-align: left;
        font-weight: bold
    }
</style>


<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.10/dist/sweetalert2.all.min.js"></script>
    <title>Editar Curso</title>
</head>

<body>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-5">
            <h3 class="customHeader">Editar Tutoría</h3>
            <br />
            <br />

            <div style="text-align:left;">
                <div>
                    <div id="id_selectCourse_tutorship">
                        <div id="id_selectCourse_labels" class="list-group">
                            <div class="list-group-item">
                                <h4>ID De La Tutoría: @ViewBag.currentTutorship.tutoria_id</h4>
                                <h4>Sigla Del Curso: @ViewBag.currentTutorship.curso_id</h4>
                                <h4>Nombre Del Curso: @ViewBag.currentTutorship.nombre_curso</h4>
                            </div>
                        </div>

                        <br />

                        <div id="id_selectCourse_inputFields" class="list-group">
                            <div class="list-group-item">
                                <form id="form" action="/MenuTutor/SubmitTutorship" method="post">
                                    <label for="id_selectCourse_inputFields_dropdownMenu">Modalidad De La Tutoría</label>
                                    <br />
                                    <select id="id_selectCourse_inputFields_dropdownMenu" name="tutorshipModality">
                                        @if (ViewBag.currentTutorship.tipo_sesion == "Virtual") {
                                            <option value="Virtual" selected>
                                                Virtual
                                            </option>
                                        } else {
                                            <option value="Virtual">
                                                Virtual
                                            </option>
                                        }

                                        @if (ViewBag.currentTutorship.tipo_sesion == "Presencial") {
                                            <option value="Presencial" selected>
                                                Presencial
                                            </option>
                                        } else {
                                            <option value="Presencial">
                                                Presencial
                                            </option>
                                        }

                                        @if (ViewBag.currentTutorship.tipo_sesion == "Cualquiera") {
                                            <option value="Cualquiera" selected>
                                                Cualquiera
                                            </option>
                                        } else {
                                            <option value="Cualquiera">
                                                Cualquiera
                                            </option>
                                        }
                                    </select>

                                    <input name="inputTutorshipID" type="number" min="1" value="@ViewBag.currentTutorship.tutoria_id" hidden />

                                    <br />
                                    <br />

                                    <label for="id_selectCourse_maxStudents">Cantidad Máxima de Estudiantes</label>
                                    <br />
                                    <input id="id_selectCourse_maxStudents" name="inputMaxStudents" size="7" type="number" min="1" max="30" value="@ViewBag.currentTutorship.cantidad_estudiantes" />

                                    <br />
                                    <br />

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="id_selectCourse_individualFare">Tarifa Individual</label>
                                            <br />
                                            <input id="id_selectCourse_individualFare" name="inputIndividualFare" size="7" type="number" min="0" max="100000" value="@ViewBag.currentTutorship.tarifa_individual" />
                                        </div>

                                        <div class="col-md-6">
                                            <label for="id_selectCourse_groupFare">Tarifa Grupal</label>
                                            <br />
                                            <input id="id_selectCourse_groupFare" name="inputGroupFare" size="7" type="number" min="0" max="100000" value="@ViewBag.currentTutorship.tarifa_grupal" />
                                        </div>
                                    </div>

                                    <br />
                                    <br />

                                    <div class="row">
                                        <div class="col-md-6">
                                            <input id="edit_tutorship" name="tutorshipSubmitButton" class="btn btn-primary btn-sm" type="submit" value="Aceptar Cambios &raquo" />
                                        </div>
                                        <div class="col-md-6">
                                            <button id="prueba" class="btn btn-primary btn-sm" style="background-color:crimson">Borrar Tutoría</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-1">

        </div>
        <div class="col-lg-6">
            <h3 class="customHeader">Historial</h3>
            <br />
            <br />
            <div style="text-align:left;">
                <div>
                    <div id="id_selectCourse_tutorship_history">
                        <div id="id_selectCourse_labels_history">
                            <div class="list-group">
                                <div class="list-group-item">
                                    @if (@ViewBag.currentTutorship.calificacion_tutoria <= 4.0) {
                                        <h4>Calificación Promedio: <span style="color:red">@ViewBag.currentTutorship.calificacion_tutoria</span></h4>
                                    } else if (@ViewBag.currentTutorship.calificacion_tutoria > 4.0 && @ViewBag.currentTutorship.calificacion_tutoria <= 7.0) {
                                        <h4>Calificación Promedio: <span style="color:orange">@ViewBag.currentTutorship.calificacion_tutoria</span></h4>
                                    } else {
                                        <h4>Calificación Promedio: <span style="color:green">@ViewBag.currentTutorship.calificacion_tutoria</span></h4>

                                    }
                                    <h4>Tutorías Impartidas: @ViewBag.specificSessions.Count</h4>
                                    <h4>Ingresos Estimados: @ViewBag.income</h4>
                                </div>
                            </div>
                            <br />

                            @for (int index = 0; index < ViewBag.specificSessions.Count; index++) {
                                <div class="list-group">
                                    <a href="@Url.Action("AdministerSessionRequest", "MenuTutor", new {sessionID = ViewBag.specificSessions[index].id })" class="list-group-item">
                                        <div>
                                            <p>ID: @ViewBag.specificSessions[index].id</p>
                                            <p>Fecha Inicio: @ViewBag.specificSessions[index].fecha_inicio</p>
                                            <p>Fecha Finalización: @ViewBag.specificSessions[index].fecha_fin</p>
                                            <p>Modalidad: @ViewBag.specificSessions[index].modalidad</p>
                                            @if (@ViewBag.specificSessions[index].estado_sesion == "Finalizada") {
                                                if (@ViewBag.specificSessions[index].evaluacion_sesion <= 4.0) {
                                                    <p>Calificación: <span style="color:red">@ViewBag.specificSessions[index].evaluacion_sesion</span></p>
                                                } else if (@ViewBag.specificSessions[index].evaluacion_sesion > 4.0 && @ViewBag.specificSessions[index].evaluacion_sesion <= 7.0) {
                                                    <p>Calificación: <span style="color:orange">@ViewBag.specificSessions[index].evaluacion_sesion</span></p>
                                                } else {
                                                    <p>Calificación: <span style="color:green">@ViewBag.specificSessions[index].evaluacion_sesion</span></p>
                                                }
                                            }

                                            @if (@ViewBag.specificSessions[index].estado_sesion == "Finalizada") {
                                                <p>Estado: <span style="color:greenyellow">@ViewBag.specificSessions[index].estado_sesion</span></p>
                                            } else {
                                                <p>Estado: <span style="color:red">@ViewBag.specificSessions[index].estado_sesion</span></p>
                                            }

                                        </div>
                                    </a>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br />
        <a href="@Url.Action("MenuTutor", "MenuTutor")" class=" btn btn-primary btn-lg">Regresar</a>
        <br />
    </div>
    <script type="text/javascript">
            document.querySelector("#edit_tutorship").addEventListener('click', function () {
                Swal.fire("Tutoría actualizada", "", "success");
            });

            document.querySelector("#prueba").addEventListener("click", function (e) {
                e.preventDefault();
                Swal.fire({
                    icon: "warning",
                    title: "¿Está seguro/a que desea borrar esta tutoría?",
                    showCancelButton: true,
                    confirmButtonText: "Confirmar",
                    confirmButtonColor: "#B03D2F",
                    cancelButtonText: "Cancelar",
                    cancelButtonColor: "#7D8992"
                }).then(function (result) {
                    if (result.value) {
                        Swal.fire("Eliminada", "La tutoría se ha eliminado exitosamente", "success");
                        window.location.href = '@Url.Action("DeleteTutorship", "MenuTutor", new { tutorshipID = ViewBag.currentTutorship.tutoria_id })';
                    } else {
                        Swal.fire("Cancelado!", "La tutoria no se ha eliminado", "warning");
                    }
                });
            });
    </script>
</body>
</html>
